<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KoiFarm.WebApplication.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="navbar-brand" style="margin-right: 90px;padding-left: 670px;" asp-area="" asp-page="/">
            <img src="~/images/logot.png" alt="TheAquaKoi" style="width: 120px;" />
        </a>
    </header>
    <div class="container-fluid">
        @RenderBody()
        <div class="hinhca">
            <img src="~/images/19.png" />
        </div>
        <div class="dangnhap1"> <img src="~/images/ĐĂNG NHẬP.jpg" /></div>
        <div class="google">Đăng nhập bằng google</div>
        <div class="OR"> <img src="~/images/OR.jpg" /></div>




        
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <img src="~/images/14.png" style="width: 100%; height: auto;" />
            &copy; 2024 - KoiFarm.WebApplication - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
