@page
@model KoiFarm.WebApplication.Pages.Customers.Consignment.EditModel

<h4>Consignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Consignment.ConsignmentId" />
            <div class="form-group">
                <label asp-for="Consignment.ConsignmentType" class="control-label"></label>
                <input asp-for="Consignment.ConsignmentType" class="form-control" />
                <span asp-validation-for="Consignment.ConsignmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consignment.RequestDate" class="control-label"></label>
                <input asp-for="Consignment.RequestDate" class="form-control" />
                <span asp-validation-for="Consignment.RequestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consignment.AgreedPrice" class="control-label"></label>
                <input asp-for="Consignment.AgreedPrice" class="form-control" />
                <span asp-validation-for="Consignment.AgreedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consignment.ConsignmentStatus" class="control-label"></label>
                <input asp-for="Consignment.ConsignmentStatus" class="form-control" />
                <span asp-validation-for="Consignment.ConsignmentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
