<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KoiFarm.WebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KoiFarm.WebApplication.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!--Logo-->
                <a class="navbar-brand" style="margin-right: 90px;padding-left: 0px; margin-left: 0px;" asp-area="" asp-page="/"> <img src="~/images/logot.png" alt="TheAquaKoi" style="width: 120px;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--Menu-->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <style>

                        .navbar-collapse {
                            display: flex;
                            overflow-x: auto;
                            white-space: nowrap;
                        }

                        .navbar-nav .nav-item {
                            margin-top: 80px;
                            margin-right: 30px;
                        }

                        .navbar-nav .nav-link {
                            font-family: 'Inter';
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 15px;
                            color: #121010;
                        }

                        a:hover, a:active {
                            color: black;
                            text-decoration: underline;
                        }
                    </style>
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">TRANG CHỦ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="font-weight: bold;" asp-area="" asp-page="/Introduce/Introduce_ViewStart">GIỚI THIỆU</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">SẢN PHẨM</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">KHUYẾN MÃI</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">KÝ GỬI</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">TIN TỨC</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Contact/Contact_View">LIÊN HỆ</a>
                        </li>
                    </ul>

                    <!--Search-->
                    <div class="search-bar">
                        
                        <style>
                            .search-bar {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                padding: 6px 8px;
                                gap: 6px;
                                position: absolute;
                                width: 600px;
                                height: 30px;
                                left: 50%;
                                top: 30px;
                                transform: translateX(-50%);
                                background: rgba(20, 18, 24, 0.16);
                                border: 1px solid #D9D9D9;
                                border-radius: 9999px;
                            }

                                .search-bar input[type="text"] {
                                    border: none;
                                    outline: none;
                                    flex: 1;
                                    font-size: 12px;
                                    background: transparent;
                                }

                                .search-bar button {
                                    border: none;
                                    background: none;
                                    cursor: pointer;
                                    font-size: 12px;
                                }

                        </style>
                        <input type="text" id="search" placeholder="Tìm kiếm (ví dụ: cá Koi Nhật Bản, cá Koi thuần chủng,...)" />
                        <button type="submit">Search</button>
                    </div>

                    <!--Sign in, sign up-->
                    <nav class="navbar-nav ms-auto">
                        <style>
                            .nav-sign {
                                font-family: 'Inter';
                                margin: 0;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                background-color: #333;
                                padding: 10px 20px;
                                color: white;
                                font-size: 10px;
                                display: flex;
                                margin-left: auto;
                                margin-bottom: 30px;
                                color: white;
                                text-decoration: none;
                                padding: 10px 15px;
                                margin-left: 15px;
                                transition: background-color 0.3s;
                                background-color: white;
                                color: #333;
                                padding-right: 10px;
                                margin-right: 10px
                            }
                        </style>
                        <a href="Sign" class="nav-sign">Đăng nhập /Đăng ký</a>
                    </nav>
                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid">
        @RenderBody()
        <main role="main" class="pb-3">
            <img src="~/images/10.png" style="width: 100%; height: auto;" />
            <img src="~/images/11.png" style="width: 100%; height: auto;" />
            <img src="~/images/12.png" style="width: 100%; height: auto;" />
            <img src="~/images/13.png" style="width: 100%; height: auto;" />
            <img src="~/images/14.png" style="width: 100%; height: auto;" />
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - KoiFarm.WebApplication - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>