@page
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "_Home";
}

<div>
    <img src="~/images/10.png" style="width: 100%; height: auto;" />
    <img src="~/images/11.png" style="width: 100%; height: auto;" />
    <img src="~/images/12.png" style="width: 100%; height: auto;" />
    <img src="~/images/13.png" style="width: 100%; height: auto;" />
</div>
