@page
@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "_Home";
}

<div>
    <div class="txtcart">
        <span class="txt1">THÔNG TIN SẢN PHẨM</span>
        <span class="txt2">GIÁ SẢN PHẨM</span>
        <span class="txt3">SỐ LƯỢNG</span>
        <span class="txt4">PHÍ VẬN CHUYỂN</span>
        <span class="txt5">TỔNG GIÁ</span>
        <span class="txt6">GỠ</span>
    </div>

</div>
