@page
@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "_Home";
}

<div class="banhang">
    <div class="ca ca1">
        <div class="imgca">
            <img src="~/images/01.png" style="width: 100%; height: auto;" />
        </div>
        <div class="blob">
            <img src="~/images/Blob(1).png" style="width: 100%; height: auto;" />
        </div>
        <div class="buttongia1">
            <a href="link_to_another_page.html">Giá 800</a>
        </div>
        <div class="tenca">tencadb</div>
        <div class="mieuta">
            Nguồn gốc: Danichi <br>
            Giới tính: Koi cái <br>
            Năm sinh: 2020 <br>
            Kích thước: 70 cm <br>
            Giống: Showa
        </div>
        <div class="so-sanh"> <a href="link_to_another_page.html">  <img src="~/images/iconplus.png" />So sánh</a></div>


    </div>
    <div class="ca ca2">
        <div class="imgca">
            <img src="~/images/02.png" style="width: 100%; height: auto;" />
        </div>
        <div class="blob">
            <img src="~/images/Blob(1).png" style="width: 100%; height: auto;" />
        </div>
        <div class="buttongia1">
            <a href="link_to_another_page.html">Giá 1200</a>
        </div>
        <div class="tenca">tencadb</div>
        <div class="mieuta">
            Nguồn gốc: Danichi <br>
            Giới tính: Koi cái <br>
            Năm sinh: 2020 <br>
            Kích thước: 70 cm <br>
            Giống: Showa
        </div>
        <div class="so-sanh"> <a href="link_to_another_page.html">  <img src="~/images/iconplus.png" />So sánh</a></div>

    </div>
    <div class="ca ca3">
        <div class="imgca">
            <img src="~/images/03.png" style="width: 100%; height: auto;" />
        </div>
        <div class="blob">
            <img src="~/images/Blob(1).png" style="width: 100%; height: auto;" />
        </div>
        <div class="buttongia1">
            <a href="link_to_another_page.html">Giá 800</a>
        </div>
        <div class="tenca">tencadb</div>
        <div class="mieuta">
            Nguồn gốc: Danichi <br>
            Giới tính: Koi cái <br>
            Năm sinh: 2020 <br>
            Kích thước: 70 cm <br>
            Giống: Showa
        </div>
        <div class="so-sanh"> <a href="link_to_another_page.html">  <img src="~/images/iconplus.png" />So sánh</a></div>


    </div>
    <div class="ca ca4">
        <div class="imgca">
            <img src="~/images/04.png" style="width: 100%; height: auto;" />
        </div>
        <div class="blob">
            <img src="~/images/Blob(1).png" style="width: 100%; height: auto;" />
        </div>
        <div class="buttongia1">
            <a href="link_to_another_page.html">Giá 1200</a>
        </div>
        <div class="tenca">tencadb</div>
        <div class="mieuta">
            Nguồn gốc: Danichi <br>
            Giới tính: Koi cái <br>
            Năm sinh: 2020 <br>
            Kích thước: 70 cm <br>
            Giống: Showa
        </div>
        <div class="so-sanh"> <a href="link_to_another_page.html">  <img src="~/images/iconplus.png" />So sánh</a></div>

    </div>
    <div class="ca ca5">
        <div class="imgca">
            <img src="~/images/05.png" style="width: 100%; height: auto;" />
        </div>
        <div class="blob">
            <img src="~/images/Blob(1).png" style="width: 100%; height: auto;" />
        </div>
        <div class="buttongia1">
            <a href="link_to_another_page.html">Giá 800</a>
        </div>
        <div class="tenca">tencadb</div>
        <div class="mieuta">
            Nguồn gốc: Danichi <br>
            Giới tính: Koi cái <br>
            Năm sinh: 2020 <br>
            Kích thước: 70 cm <br>
            Giống: Showa
        </div>
        <div class="so-sanh"> <a href="link_to_another_page.html">  <img src="~/images/iconplus.png" />So sánh</a></div>


    </div>
    <div class="ca ca6">
        <div class="imgca">
            <img src="~/images/06.png" style="width: 100%; height: auto;" />
        </div>
        <div class="blob">
            <img src="~/images/Blob(1).png" style="width: 100%; height: auto;" />
        </div>
        <div class="buttongia1">
            <a href="link_to_another_page.html">Giá 1200</a>
        </div>
        <div class="tenca">tencadb</div>
        <div class="mieuta">
            Nguồn gốc: Danichi <br>
            Giới tính: Koi cái <br>
            Năm sinh: 2020 <br>
            Kích thước: 70 cm <br>
            Giống: Showa
        </div>
        <div class="so-sanh"> <a href="link_to_another_page.html">  <img src="~/images/iconplus.png" />So sánh</a></div>

    </div>
    <div class="ca ca7">
        <div class="imgca">
            <img src="~/images/07.png" style="width: 100%; height: auto;" />
        </div>
        <div class="blob">
            <img src="~/images/Blob(1).png" style="width: 100%; height: auto;" />
        </div>
        <div class="buttongia1">
            <a href="link_to_another_page.html">Giá 800</a>
        </div>
        <div class="tenca">tencadb</div>
        <div class="mieuta">
            Nguồn gốc: Danichi <br>
            Giới tính: Koi cái <br>
            Năm sinh: 2020 <br>
            Kích thước: 70 cm <br>
            Giống: Showa
        </div>
        <div class="so-sanh"> <a href="link_to_another_page.html">  <img src="~/images/iconplus.png" />So sánh</a></div>


    </div>
    <div class="ca ca8">
        <div class="imgca">
            <img src="~/images/08.png" style="width: 100%; height: auto;" />
        </div>
        <div class="blob">
            <img src="~/images/Blob(1).png" style="width: 100%; height: auto;" />
        </div>
        <div class="buttongia1">
            <a href="link_to_another_page.html">Giá 1200</a>
        </div>
        <div class="tenca">tencadb</div>
        <div class="mieuta">
            Nguồn gốc: Danichi <br>
            Giới tính: Koi cái <br>
            Năm sinh: 2020 <br>
            Kích thước: 70 cm <br>
            Giống: Showa
        </div>
        <div class="so-sanh"> <a href="link_to_another_page.html">  <img src="~/images/iconplus.png" />So sánh</a></div>

    </div>
    <div class="ca ca9">
        <div class="imgca">
            <img src="~/images/09.png" style="width: 100%; height: auto;" />
        </div>
        <div class="blob">
            <img src="~/images/Blob(1).png" style="width: 100%; height: auto;" />
        </div>
        <div class="buttongia1">
            <a href="link_to_another_page.html">Giá 800</a>
        </div>
        <div class="tenca">tencadb</div>
        <div class="mieuta">
            Nguồn gốc: Danichi <br>
            Giới tính: Koi cái <br>
            Năm sinh: 2020 <br>
            Kích thước: 70 cm <br>
            Giống: Showa
        </div>
        <div class="so-sanh"> <a href="link_to_another_page.html">  <img src="~/images/iconplus.png" />So sánh</a></div>


    </div>
    <div class="xemthem">
        <a href="#">Xem thêm...</a>
    </div>
</div>
