@page
@model KoiFarm.WebApplication.Pages.ContactModel
@{
    ViewData["Title"] = "Liên hệ";
    Layout = "_Home";
}

<div>
    <img src="~/images/18.png" style="width: 100%; height: auto;" />
</div>
