@page
@model KoiFarm.WebApplication.Pages.SignInModel
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "_Sign";
}

<div>
    <div class="hinhca">
        <img src="~/images/19.png" />
    </div>
    <div class="dangnhap1">ĐĂNG NHẬP</div>
    <button class="google"> <img src="~/images/Google.png" /> Đăng nhập bằng Google</button>
    <div class="OR"><img src="~/images/OR.jpg" /></div>

    <div>
        <input type="text" id="form" placeholder="Tên người dùng hoặc email" />
        <input type="password" id="password" placeholder="Mật khẩu" />
        <a class="forgot" asp-area="" asp-page="/">Quên mật khẩu</a>
        <button class="btndnhap" type="submit">
            Đăng nhập
        </button>
        <div class="signup-link">
            <span>Chưa có tài khoản?</span>
            <a asp-page="SignUp">Đăng ký</a>
        </div>
    </div>
</div>
