@page
@model KoiFarm.WebApplication.Pages.SignUpModel
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "_Sign";
}

<div>
    <form method="post">
        <div class="hinhca">
            <img src="~/images/20.png" />
        </div>
        <div class="dangky1">ĐĂNG KÝ</div>
        <button class="google"> <img src="~/images/Google.png" /> Đăng ký bằng Google</button>
        <div class="OR"><img src="~/images/OR.jpg" /></div>

        <div>
            <input type="text" id="form1" placeholder="Tên người dùng" asp-for="account.UserName" required />
            <input type="text" id="form2" placeholder="Email" asp-for="account.Email" required />
            <input type="password" id="password1" placeholder="Mật khẩu" asp-for="account.UserPassword" required />
            <input type="password" id="password2" placeholder="Xác nhận mật khẩu" name="password2" required />
            <button class="btndky" type="submit">
                Đăng ký
            </button>
            <div class="signin-link">
                <span>Đã có tài khoản?</span>
                <a asp-page="SignIn">Đăng nhập</a>
            </div>
        </div>
    </form>
    
</div>
<div>
    @TempData["SuccessMessage"]
    @TempData["ErrorMessage"]
</div>
