@page
@model KoiFarm.WebApplication.Pages.CertificationKoiSales.EditModel
@{
    ViewData["Tittle"] = "Chỉnh sửa giấy chứng nhận";
    Layout = "~/Pages/Admin/CertificationKoiSales/_CertificationKoiSalesLayout.cshtml";
}

<h4>CertificationKoiSale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CertificationKoiSale.CertificationKsid" />
            <div class="form-group">
                <label asp-for="CertificationKoiSale.KoiSaleId" class="control-label"></label>
                <select asp-for="CertificationKoiSale.KoiSaleId" class="form-control" asp-items="ViewBag.KoiSaleId"></select>
                <span asp-validation-for="CertificationKoiSale.KoiSaleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificationKoiSale.OriginCertificateKs" class="control-label"></label>
                <input asp-for="CertificationKoiSale.OriginCertificateKs" class="form-control" />
                <span asp-validation-for="CertificationKoiSale.OriginCertificateKs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificationKoiSale.HealthCertificateKs" class="control-label"></label>
                <input asp-for="CertificationKoiSale.HealthCertificateKs" class="form-control" />
                <span asp-validation-for="CertificationKoiSale.HealthCertificateKs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificationKoiSale.CertificationDateKs" class="control-label"></label>
                <input asp-for="CertificationKoiSale.CertificationDateKs" class="form-control" />
                <span asp-validation-for="CertificationKoiSale.CertificationDateKs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Danh sách giấy chứng nhận</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
