@page
@model KoiFarm.WebApplication.Pages.Customers.TransactionHistory.EditModel
@{
    ViewData["Title"] = "Chỉnh Sửa Lịch Sử Mua Hàng";
    Layout = "~/Pages/Admin/TransactionHistory/_Layout.cshtml";
}
<h4>LỊCH SỬ MUA HÀNG</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TransactionHistory.TransactionId" class="control-label">Mã giao dịch</label>
                <select asp-for="TransactionHistory.TransactionId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="TransactionHistory.TransactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionHistory.CustomerId" class="control-label">Mã khách hàng</label>
                <select asp-for="TransactionHistory.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="TransactionHistory.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionHistory.TransactionDate" class="control-label">Ngày giao dịch</label>
                <input asp-for="TransactionHistory.TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionHistory.TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionHistory.TransactionType" class="control-label">Loại giao dịch</label>
                <input asp-for="TransactionHistory.TransactionType" class="form-control" />
                <span asp-validation-for="TransactionHistory.TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionHistory.Amount" class="control-label">Số tiền</label>
                <input asp-for="TransactionHistory.Amount" class="form-control" />
                <span asp-validation-for="TransactionHistory.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Danh sách Lịch sử mua hàng</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
