<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KHUYẾN MÃI - The Aqua Koi</title>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <div class="layout">
        <!-- Sidebar -->
        <aside class="sidebar">
           @*  <div class="admin">
                <h2>Nguyen Anh Huy (Manager)</h2>
            </div> *@
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="/" class="sidebar-link">Trang chủ</a></li>
                    <li><a href="Order" class="sidebar-link">Đơn hàng</a></li>
                    <li><a href="CertificationKoiSales" class="sidebar-link">Giấy chứng nhận cá Koi</a></li>
                    <li><a href="/Customer/SignOut" class="sidebar-link">Đăng xuất</a></li>
                </ul>
            </nav>
        </aside>
        <!-- Header -->
        <header class="header">
           @*  <div class="admin-info">
                <p>Nguyen Anh Huy (Manager)</p>
            </div> *@

            <div class="header-logo">
                <a href="@Url.Page("/Index")">
                    <img src="~/images/logot.png" alt="The Aqua Koi Logo" style="width: 150px;">
                </a>

            </div>

        </header>

    </div>
    <!-- Phần nội dung -->
    <section class="content">
        <div class="table-container">
            <!-- Nội dung động như Tên khuyến mãi hoặc danh sách khuyến mãi sẽ nằm ở đây -->
            @RenderBody()
            @RenderSection("Scripts", required: false)
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <!-- Thông tin liên hệ và hình ảnh trong footer -->
        <img src="~/images/14.png" style="width: 100%; height: auto;">
    </footer>

</body>

</html>