@page
@model KoiFarm.WebApplication.Pages.Admin.Promotion.DeleteModel
@{
    ViewData["Title"] = "Xóa Khuyến Mãi";
    Layout = "~/Pages/Admin/Promotion/_Layout.cshtml";
}
<h3>Bạn có chắc muốn xóa khuyến mãi dưới đây?</h3>
<div>
    <h4>KHUYẾN MÃI</h4>
    <hr />
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Tên khuyến mãi</th>
                <td>@Model.Promotion.PromotionName</td>
            </tr>
            <tr>
                <th>Chiết khấu</th>
                <td>@Model.Promotion.DiscountPercentage</td>
            <tr>
                <th scope="row">Ngày bắt đầu</th>
                <td>@Model.Promotion.StartDate</td>
            </tr>
            <tr>
                <th scope="row">Ngày kết thúc</th>
                <td>@Model.Promotion.EndDate</td>
            </tr>
        </tbody>
    </table>

    <form method="post">
        <input type="hidden" asp-for="Promotion.PromotionId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-page="./Index">Danh sách khuyến mãi</a>
    </form>
</div>
