@page
@model KoiFarm.WebApplication.Pages.Admin.User.DeleteModel
@{
    ViewData["Title"] = "Xóa người dùng";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<h1>Xóa người dùng</h1>
<p>Bạn có chắc chắn muốn xóa người dùng: @Model.User.UserName không?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-page="./Index" class="btn btn-secondary">Hủy</a>
</form>
