<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KoiFarm.WebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KoiFarm.WebApplication.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
            <div class="container-fluid">
                <!--Logo-->
                <a class="navbar-brand" style="margin-right: 90px;padding-left: 8px; margin-left: 8px;" asp-area="" asp-page="/Index">
                    <img src="~/images/logot.png" alt="TheAquaKoi" style="width: 120px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--Menu-->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="font-weight: bold;" asp-area="" asp-page="/Index">TRANG CHỦ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"  asp-area="" asp-page="/Customers/Introduce/Introduce_View">GIỚI THIỆU</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Customers/Products/Products_View">SẢN PHẨM</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Customers/Sales/Sales_View">KHUYẾN MÃI</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/">KÝ GỬI</a>
                            <ul class="sub-menu">
                                <li class="menu-item BUY">
                                    <a href="/Customers/Consignment/Buy/Buy_View">KÝ GỬI NUÔI</a>
                                </li>
                                <li class="menu-item Sell">
                                    <a href="/Customers/Consignment/Sell/Sell_View">KÝ GỬI BÁN</a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Customers/Contact/Contact_View">LIÊN HỆ</a>
                        </li>
                    </ul>

                    <!--Search-->
                    <div class="search-bar">
                        <input type="text" id="search" placeholder="Tìm kiếm (ví dụ: cá Koi Nhật Bản, cá Koi thuần chủng,...)" />
                        <button type="submit">Search</button>
                    </div>

                    <!--Sign in, sign up-->
                    <form asp-page="/Customers/SignIn_Up/SignIn_View">
                        <button class="dnhap">
                            Đăng nhập
                        </button>
                    </form>
                    <form asp-page="/Customers/SignIn_Up/SignUp_View">
                        <button class="dky">
                            Đăng ký
                        </button>
                    </form>
                        
                    
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        @RenderBody()
        <main role="main">
            <img src="~/images/16.png" style="width: 100%; height: auto;" />
            <img src="~/images/15.png" style="width: 100%; height: auto;" />
            <img src="~/images/17.png" style="width: 100%; height: auto;" />
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <img src="~/images/14.png" style="width: 100%; height: auto;" />
            &copy; 2024 - KoiFarm.WebApplication - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>