@page
@model KoiFarm.WebApplication.Pages.Certifications.CreateModel
@{
    ViewData["Tittle"] = "Thêm giấy chứng nhận";
    Layout = "~/Pages/Admin/Certifications/_CertificationLayout.cshtml";
}

<div class="form-container">
    <h2>THÊM GIẤY CHỨNG NHẬN</h2>
    <form method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Sắp xếp các trường input thành 2 cột -->
        <div class="form-row">
            <div class="input-group">
                <label asp-for="Certification.CertificationId" class="control-label">Mã chứng nhận</label>
                <input asp-for="Certification.CertificationId" class="form-control" />
                <span asp-validation-for="Certification.CertificationId" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="Certification.KoiId" class="control-label">Mã Koi</label>
                <select asp-for="Certification.KoiId" class="form-control" asp-items="ViewBag.KoiId"></select>
            </div>
        </div>

        <div class="form-row">
            <div class="input-group">
                <label asp-for="Certification.OriginCertificate" class="control-label">Giấy chứng nhận nguồn gốc</label>
                <input asp-for="Certification.OriginCertificate" class="form-control" />
                <span asp-validation-for="Certification.OriginCertificate" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="Certification.HealthCertificate" class="control-label">Giấy chứng nhận sức khỏe</label>
                <input asp-for="Certification.HealthCertificate" class="form-control" />
                <span asp-validation-for="Certification.HealthCertificate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="input-group">
                <label asp-for="Certification.CertificationDate" class="control-label">Ngày chứng nhận</label>
                <input asp-for="Certification.CertificationDate" type="date" class="form-control" />
                <span asp-validation-for="Certification.CertificationDate" class="text-danger"></span>
            </div>
        </div>

        <!-- Nút lưu thay đổi và quay lại -->
        <div class="button-container">
            <button type="submit" class="btn-save">TẠO CHỨNG NHẬN</button>
            <a asp-page="./Index" class="btn btn-secondary">Quay lại</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
