* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFAF0;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
}

.user-info {
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
    text-align: right;
    padding-right: 20px;
    font-weight: 600;
}

.header-logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 5px solid #ccc;
    width: 100%;
}

.sidebar {
    width: 200px;
    background-color: #d1d8e0;
    position: fixed;
    top: 180px; /* Điều chỉnh để bắt đầu ngay dưới thanh logo */
    bottom: 10px; /* Điều chỉnh để dừng trên footer */
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

    .sidebar .user {
        background-color: #8d86e6;
        color: #fff;
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 10px;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

        .sidebar ul li {
            padding: 10px 20px;
        }

            .sidebar ul li a {
                text-decoration: none;
                color: #333;
                display: block;
            }

                .sidebar ul li a:hover {
                    background-color: #b0bec5;
                }

.btn-add {
    background-color: #8d86e6; /* Màu nền mới */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-bottom: 15px;
    margin-top: 0;
}

    .btn-add:hover {
        background-color: #7a75d1; /* Màu khi hover */
    }

.content {
    margin-left: 220px;
    padding: 20px;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    font-size: 14px;
}

    .content .title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .content .table-container {
        background-color: #FFFAF0;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 0;
    }

        .content .table-container table {
            width: 100%;
            border-collapse: collapse;
            font-size: 14px;
        }

            .content .table-container table th,
            .content .table-container table td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ccc;
            }

            .content .table-container table th {
                background-color: #191970;
                color: #d1d8e0;
            }

        .content .table-container .btn {
            background-color: #8e9eab;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
}

    .footer p {
        margin: 5px 0;
    }
