* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFAF0;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
}

.user-info {
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
    text-align: right;
    padding-right: 20px;
    font-weight: 600;
}

.admin-info {
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
    text-align: right;
    padding-right: 20px;
    font-weight: 600;
}

.header-logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 5px solid #ccc;
    width: 100%;
}

.sidebar {
    height: 507px;
    width: 200px;
    background-color: #d1d8e0;
    position: absolute;
    top: 180px; /* Điều chỉnh để bắt đầu ngay dưới thanh logo */
    bottom: 10px; /* Điều chỉnh để dừng trên footer */
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

    .sidebar .user {
        background-color: #8d86e6;
        color: #fff;
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 10px;
    }

    .sidebar .admin {
        background-color: #8d86e6;
        color: #fff;
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
        font-size: 10px;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

        .sidebar ul li {
            padding: 10px 20px;
        }

            .sidebar ul li a {
                text-decoration: none;
                color: #333;
                display: block;
            }

                .sidebar ul li a:hover {
                    background-color: #b0bec5;
                }

.btn-add {
    background-color: #8d86e6; /* Màu nền mới */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-bottom: 15px;
    margin-top: 0;
}

    .btn-add:hover {
        background-color: #7a75d1; /* Màu khi hover */
    }

.content {
    margin-left: 220px; /* Đảm bảo nội dung không bị che khuất bởi sidebar */
    background-color: #f4f4f9; /* Màu nền sáng nhạt */
    padding: 20px;
    border-radius: 8px;
    flex: 1; /* Cho phép phần nội dung chiếm phần còn lại của màn hình */
    box-sizing: border-box;
    height: calc(100vh - 180px); /* Giới hạn chiều cao nội dung để không bị tràn */
    overflow-y: auto;
}

/* Thay đổi font chữ cho tiêu đề */
h1 {
    font-family: 'Arial', sans-serif;
    color: #333; /* Màu chữ tối */
}

h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    color: #555; /* Màu chữ đậm hơn một chút */
    font-size: 14px;
}

/* Thêm khoảng cách giữa các tiêu đề */
h1, h2, h3, h4, h5 {
    margin-bottom: 10px;
}

/* Thiết lập màu nền cho nút và thay đổi màu chữ */
.btn-secondary {
    background-color: black;
    color: white;
}

    .btn-secondary:hover {
        background-color: dimgrey;
    }

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
}

    .footer p {
        margin: 5px 0;
    }
