html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    background-color: #FEF7FF;
    margin-bottom: 60px;
}

.cart {
    position: absolute;
    top: 33px;
    right: 260px;
    width: 23px;
    height: 23px;
    object-fit: cover;
}

    .cart img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
/* styles.css */

/* Navbar styles */
.navbar-collapse {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.navbar-nav .nav-item {
    margin-top: 80px;
    margin-right: 30px;
}

.navbar-nav .nav-link {
    align-items: center;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
    line-height: 15px;
    color: #121010;
}

a:hover, a:active {
    color: black;
    text-decoration: underline;
}

/* Search bar styles */
.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    gap: 6px;
    position: absolute;
    width: 600px;
    height: 30px;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    background: rgba(20, 18, 24, 0.16);
    border: 1px solid #D9D9D9;
    border-radius: 9999px;
}

    .search-bar input[type="text"] {
        border: none;
        outline: none;
        flex: 1;
        font-size: 12px;
        background: transparent;
    }

    .search-bar button {
        border: none;
        background: none;
        cursor: pointer;
        font-size: 12px;
    }



/*Sign in - up*/
.dnhap {
    position: absolute;
    top: 20px;
    right: 75px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 60px;
    height: 22px;
    background: #E3E3E3;
    border: 1px solid #767676;
    border-radius: 8px;
    font-size: 11px;
}

.dky {
    position: absolute;
    top: 20px;
    right: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 60px;
    height: 22px;
    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;
    color: white;
    font-size: 11px;
}


.hinhca {
    width: 465px;
    height: 720px;
    margin-top: 0px;
    overflow: hidden;
}

    .hinhca img {
        width: 100%; /* Hình ảnh sẽ vừa với chiều rộng khung cha */
        height: 100%; /* Hình ảnh sẽ vừa với chiều cao khung cha */
        object-fit: cover; /* Cắt hoặc thu nhỏ hình ảnh để vừa khung mà không bị biến dạng */
    }

.dangnhap1 {
    position: absolute;
    height: 60px;
    right: 260px;
    top: 180px;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 98px;
    display: flex;
    align-items: center;
    color: #333333;
}

.google {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    text-align: center;
    color: #0B0A0A;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 435px;
    height: 50px;
    left: 680px;
    top: 295px;
    border: 1px solid #3C4242;
    border-radius: 8px;
    background: #FEF7FF;
}

.OR {
    overflow: hidden; /* Đảm bảo hình ảnh không vượt ra ngoài khung */
    position: absolute;
    width: 474px;
    left: 665px;
    top: 375px;
}

    .OR img {
        width: 100%; /* Hình ảnh sẽ vừa với chiều rộng khung cha */
        height: 100%; /* Hình ảnh sẽ vừa với chiều cao khung cha */
        object-fit: cover; /* Cắt hoặc thu nhỏ hình ảnh để vừa khung mà không bị biến dạng */
    }


#form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 465px;
    height: 50px;
    left: 670px;
    top: 450px;
    border: 0.3px solid #3C4242;
    background: #FEF7FF;
    border-radius: 8px;
}

#password {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 465px;
    height: 50px;
    left: 670px;
    top: 530px;
    border: 0.3px solid #3C4242;
    background: #FEF7FF;
    border-radius: 8px;
}

.forgot {
    position: absolute;
    width: 83px;
    height: 25px;
    left: 1050px;
    top: 590px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 11px;
    line-height: 19px;
    /* identical to box height */
    text-align: right;
    text-decoration-line: underline;
    color: #3C4242;
}

.btndnhap {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 115px;
    height: 35px;
    left: 670px;
    top: 630px;
    background: #4277B8;
    font-weight: bold;
    border-radius: 8px;
    border: 0.3px solid #4277B8;
    font-size: 13px;
}

/* Liên kết "Chưa có tài khoản? Đăng ký" */
.signup-link {
    position: absolute;
    width: 198px;
    height: 19px;
    left: 670px;
    top: 670px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    line-height: 19px;
    color: #3C4242;
}

    .signup-link a {
        color: #3C4242;
        text-decoration: underline;
        cursor: pointer;
    }


.dangky1 {
    position: absolute;
    height: 60px;
    right: 290px;
    top: 180px;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 98px;
    display: flex;
    align-items: center;
    color: #333333;
}

#form1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 310px;
    height: 50px;
    left: 570px;
    top: 450px;
    border: 0.3px solid #3C4242;
    background: #FEF7FF;
    border-radius: 8px;
}

#password1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 310px;
    height: 50px;
    left: 570px;
    top: 530px;
    border: 0.3px solid #3C4242;
    background: #FEF7FF;
    border-radius: 8px;
}

#form2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 310px;
    height: 50px;
    left: 920px;
    top: 450px;
    border: 0.3px solid #3C4242;
    background: #FEF7FF;
    border-radius: 8px;
}

#password2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 310px;
    height: 50px;
    left: 920px;
    top: 530px;
    border: 0.3px solid #3C4242;
    border-radius: 8px;
    background: #FEF7FF;
}

.signin-link {
    position: absolute;
    width: 198px;
    height: 19px;
    left: 825px;
    top: 670px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    line-height: 19px;
    color: #3C4242;
}

    .signin-link a {
        color: #3C4242;
        text-decoration: underline;
        cursor: pointer;
    }

.btndky {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 115px;
    height: 35px;
    left: 835px;
    top: 635px;
    background: #4277B8;
    font-weight: bold;
    border-radius: 8px;
    border: 0.3px solid #4277B8;
    font-size: 13px;
}
/* Ẩn danh sách con theo mặc định */
.sub-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hiển thị danh sách khi rê chuột vào KÝ GỬI */
.nav-item:hover .sub-menu {
    z-index: 10;
    display: block;
}

/* Định dạng cho các mục trong danh sách */
.menu-item {
    padding: 10px 15px;
}

    .menu-item a {
        font-family: 'Inter';
        text-decoration: none;
        color: #333;
        display: block;
    }

        /* Thêm hiệu ứng hover */
        .menu-item a:hover {
            background-color: #f1f1f1;
            color: #000;
        }


.kygui {
    position: absolute;
    height: 60px;
    right: 155px;
    top: 188px;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 98px;
    display: flex;
    align-items: center;
    color: #333333;
    z-index: 1;
}

.txtkygui1 {
    font-size: 13px;
    position: absolute;
    width: 262px;
    height: 21px;
    left: 600px;
    top: 290px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #3C4242;
}

    .txtkygui1 .btnfile1 {
        font-weight: 100;
        position: absolute;
        font-size: 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 20px;
        gap: 10px;
        width: 115px;
        height: 30px;
        background: #4277B8;
        border-radius: 5px;
        color: white;
        border: 0.3px solid #4277B8;
        top: 25px
    }


.txtkygui2 {
    font-size: 13px;
    position: absolute;
    width: 262px;
    height: 21px;
    left: 600px;
    top: 360px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #3C4242;
}

    .txtkygui2 .btnfile2 {
        font-weight: 100;
        position: absolute;
        font-size: 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 20px;
        gap: 10px;
        width: 115px;
        height: 30px;
        background: #4277B8;
        border-radius: 5px;
        color: white;
        border: 0.3px solid #4277B8;
        top: 25px
    }



.nhap {
    list-style-type: none;
    font-size: 13px;
    position: absolute;
    width: 262px;
    height: 21px;
    left: 570px;
    top: 435px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #3C4242;
}

    .nhap li {
        margin-bottom: 60px;
    }

#gioitinh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 145px;
    height: 40px;
    border: 0.3px solid #3C4242;
    background: #FEF7FF;
    border-radius: 8px;
}

#namsinh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 145px;
    height: 40px;
    border: 0.3px solid #3C4242;
    background: #FEF7FF;
    border-radius: 8px;
}

#kichthuoc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 145px;
    height: 40px;
    border: 0.3px solid #3C4242;
    background: #FEF7FF;
    border-radius: 8px;
}

#giaban {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 215px;
    height: 40px;
    border: 0.3px solid #3C4242;
    background: #FEF7FF;
    border-radius: 8px;
}

.submitsell {
    font-size: 23px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 620px;
    height: 50px;
    left: 600px;
    top: 765px;
    background: #4277B8;
    border-radius: 8px;
    color: white;
    border: 0.3px solid #3C4242;
}

.submitbuy {
    font-size: 23px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;
    position: absolute;
    width: 620px;
    height: 50px;
    left: 600px;
    top: 700px;
    background: #4277B8;
    border-radius: 8px;
    color: white;
    border: 0.3px solid #3C4242;
}




.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 70px 90px;
    margin-top: 66px;
    margin-left: 185px;
    margin-bottom: 80px;
}

.ca {
    position: relative;
    width: 176px;
    height: 350px;
    background: #DAC8C8;
    border: 1.0552px solid rgba(0, 22, 10, 0.1);
    box-shadow: -27px 33px 33px rgba(0, 22, 10, 0.1);
    border-radius: 30.9586px;
}


.buttongia1 {
    font-size: 12px;
    font-weight: bold;
    color: white;
    position: absolute;
    width: 110px;
    height: 36px;
    left: 33px;
    top: 266px;
    background-color: #FF0303;
    border-radius: 30.7768px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .buttongia1 a {
        font-family: 'Anton', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: normal; /* Bỏ line-height quá lớn */
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
    }

.so-sanh {
    position: absolute;
    width: 94px;
    height: 29px;
    left: 40px;
    top: 304px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 50;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}

    .so-sanh img {
        width: 20px; /* Điều chỉnh kích thước theo ý muốn */
        height: auto; /* Giữ tỉ lệ hình ảnh */
        vertical-align: middle; /* Canh giữa với văn bản */
    }

.mieuta {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Inter';
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tenca {
    font-weight: bolder;
    position: absolute;
    left: 22.72%;
    top: 4.55%;
    bottom: 96.4%;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.29228px;
    color: #060016;
}

.imgca {
    margin-top: 10px;
    width: 200px !important; /* Đặt chiều rộng cố định cho khung */
    height: 160px !important; /* Đặt chiều cao cố định cho khung */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
}


    .imgca img {
        width: 207px;
        height: 78px;
        object-fit: cover;
        z-index: 2;
        object-position: center;
    }

.blob {
    position: absolute;
    left: -3%;
    top: 9.18%;
    bottom: 123.71%;
    background: #73ACCD;
    width: 192px;
    z-index: 1;
}

.sale {
    object-fit: cover;
    position: absolute;
    width: 62px;
    height: auto;
    left: 143px;
    top: -54px;
}



.xemthem {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    position: absolute;
    width: 75px;
    height: 25px;
    left: 50%; /* Đặt vị trí phần tử ở giữa theo chiều ngang */
    top: 1339px;
    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;
    transform: translateX(-50%); /* Điều chỉnh lại vị trí để phần tử căn giữa chính xác */
}

    .xemthem a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 8px;
        line-height: 100%;
        color: #F5F5F5;
    }

.pb-3 {
    min-height: 100vh;
    <<<<<<< HEAD
}
/* Table Layout */
.bitcart table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.bitcart thead tr {
    background-color: #003366;
    color: white;
    text-align: left;
}

.bitcart th, .bitcart td {
    padding: 10px;
    text-align: center;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 5px;
}

.product-details {
    text-align: left;
    position: relative;
    left: 20px;
}

    .product-details p {
        margin: 0;
        font-weight: bold;
    }

    .product-details span {
        display: block;
        font-size: 12px;
        color: #666;
    }

/* Quantity Buttons */
.quantity-control {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

    .quantity-control button {
        background-color: #003366;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 3px;
    }

        .quantity-control button:hover {
            background-color: #002244;
        }

    .quantity-control input {
        width: 50px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

/* Remove Button */
.btn-remove {
    background-color: transparent;
    border: none;
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
}

    .btn-remove:hover {
        color: #cc0000;
    }

/* Table Row Styles */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:hover {
    background-color: #f1f1f1;
}


/* Hộp tính tiền */
.container {
    display: flex;
    justify-content: flex-end; /* Căn hộp sang góc phải */
    margin-top: 20px; /* Khoảng cách phía trên */
    width: 100%; /* Làm cho .container chiếm toàn bộ chiều rộng của trang */
    /*  background-color: #EBE4E4; */
    padding: 20px; /* Khoảng cách xung quanh để tạo không gian cho màu nền */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước tổng thể */
}

.summary-box {
    position: relative;
    left: 932px;
    width: 300px;
    background-color: #EBE4E4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.summary-item {
    display: flex;
    justify-content: space-between; /* Canh hai bên */
    margin-bottom: 10px; /* Khoảng cách giữa các mục */
    font-size: 14px;
}

.summary-item-total {
    display: flex;
    justify-content: space-between; /* Canh hai bên */
    margin-bottom: 10px; /* Khoảng cách giữa các mục */
    font-size: 14px;
}

.checkout-btn {
    width: 100%; /* Nút rộng 100% hộp */
    background-color: #003366; /* Màu nền */
    color: white; /* Màu chữ */
    border: none; /* Xóa viền */
    border-radius: 4px; /* Bo góc nút */
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .checkout-btn:hover {
        background-color: #00509e; /* Màu khi hover */
    }

.product {
    position: relative;
    background-color: #FEF7FF;
    border: 0.5px solid #BEBCBD;
    top: 205px;
    height: 120px;
    width: 1275px;
}

.total {
    position: absolute;
    width: 1255px;
    height: 150px;
    left: 0px;
    top: 600px;
    background: #EBE4E4;
}

.dx {
    position: relative;
    text-align: center; /* Căn giữa nội dung trong div */
}

.name {
    background: white;
    border: 0px;
    font-size: 14px;
}


.signout-form {
    margin-top: 2px; /* Khoảng cách giữa tên người dùng và nút đăng xuất */
}

.dxuat {
    position: absolute;
    top: -16px;
    left: -110px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 60px;
    height: 22px;
    background: #E3E3E3;
    border: 1px solid #767676;
    border-radius: 8px;
    font-size: 11px;
    margin-top: 10px;
}

.mainchitiet {
    margin-bottom: 125px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.hinhKoi {
    width: 81px;
    height: auto;
    overflow: hidden;
}

    .hinhKoi img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.hinhkoi {
    width: 516px;
    height: auto;
    margin-top: 79px;
    overflow: hidden;
    margin-left: 77px;
}

    .hinhkoi img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
/* Phần tử cha */
.chu {
    position: relative;
    width: 500px;
    height: 500px;
    top: 20px;
    text-align: left;
    left: -73px;
}

/* Phần tử con */
.gioithieu, .thongtin, .mieutachitiet, .themgiothang, .muangay .giaca {
    position: absolute; /* Đặt tất cả các phần tử con có position absolute */
}

/* Định vị các phần tử con */
.nameKoi {
    position: absolute;
    right: 230px;
    top: 70px;
    bottom: 73.94%;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 145px;
    display: flex;
    align-items: center;
    letter-spacing: 0.29228px;
    color: #060016;
}

.gioithieu {
    top: 50px;
    left: 10px;
}

.thongtin {
    right: 185px;
    top: 190px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 56px;
    text-align: justify;
    color: #000000;
}

.mieutachitiet {
    right: 289px;
    top: 254px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 40px;
    text-align: justify;
    color: #000000;
}

.themgiothang {
    bottom: 50px;
    right: 10px;
}

.muangay {
    bottom: 10px;
    right: 10px;
}

.themgiothang {
    font-size: 12px;
    font-weight: bold;
    color: white;
    position: absolute;
    width: 260px;
    height: 45px;
    border-radius: 30.7768px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    left: -8px;
    top: 512px;
    background-color: #04032B;
}

    .themgiothang a {
        font-family: 'Anton', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: normal; /* Bỏ line-height quá lớn */
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
    }

.muangay {
    font-size: 12px;
    font-weight: bold;
    color: white;
    position: absolute;
    width: 260px;
    height: 45px;
    border-radius: 30.7768px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    left: 300px;
    top: 512px;
    background-color: #030085;
}

    .muangay a {
        font-family: 'Anton', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: normal; /* Bỏ line-height quá lớn */
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
    }

.giaca {
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: absolute;
    width: 146px;
    height: 54px;
    border-radius: 30.7768px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    left: 200px;
    top: 434px;
    background-color: #FF0303;
}

    .giaca a {
        font-family: 'Anton', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal; /* Bỏ line-height quá lớn */
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
    }

.grid {
    color: black;
    text-decoration: none;
}

    .grid:hover {
        text-decoration: none;
    }

.modal {
    backdrop-filter: blur(5px); /* Hiệu ứng mờ nền */
}

.solg {
    border: 0.7px solid;
    background-clip: border-box;
    border-radius: 8px;
    align-content: center;
    width: 83px;
    right: 412px;
    position: absolute;
    bottom: 32px;
}

.solg1 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    justify-content: center;
    align-content: center;
    justify-items: center;
    border: 0px;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

.custom-file-input {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.is-invalid {
    border-color: #dc3545;
}

.text-danger {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}
