<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <div class="layout">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="user">
                <h2>Nguyen Anh Huy (Manager)</h2>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="/" class="sidebar-link">Trang chủ</a></li>
                    <li><a href="Order" class="sidebar-link">Đơn hàng</a></li>
                    <li><a href="DashboardData" class="sidebar-link">Báo cáo doanh thu</a></li>
                    <li><a href="User" class="sidebar-link">Danh sách khách hàng</a></li>
                     <li><a href="Promotion" class="sidebar-link">Khuyến mãi</a></li>
                    <li><a href="Certifications" class="sidebar-link">Giấy chứng nhận cá Koi</a></li>
                    <li><a href="CertificationKoiSales" class="sidebar-link">Giấy chứng nhận cá Koi Sale</a></li>
                    <li><a href="/Customer/SignOut" class="sidebar-link">Đăng xuất</a></li>
                </ul>
            </nav>
        </aside>

        <!-- Nội dung chính -->
        <main class="main-content">
            <!-- Header -->
            <header class="header">
                <div class="user-info">
                    <p>Nguyen Anh Huy (Manager)</p>
                </div>

                <div class="header-logo">
                    <a href="@Url.Page("/Index")">
                        <img src="~/images/logot.png" alt="The Aqua Koi Logo" style="width: 150px;">
                    </a>
                </div>

            </header>

            <!-- Phần nội dung -->
            <section class="content">
                <div class="table-container">
                    <!-- Nội dung động như bảng khách hàng hoặc danh sách đơn hàng sẽ nằm ở đây -->
                    @RenderBody()
                    @RenderSection("Scripts", required: false)
                </div>
            </section>

            <!-- Footer -->
            <footer class="footer">
                <!-- Thông tin liên hệ và hình ảnh trong footer -->
                <img src="~/images/14.png" style="width: 100%; height: auto;">
            </footer>
        </main>
    </div>
</body>
</html>
